
body {
    background-color:#DCE0D9;
    padding: 0px;
    margin: 0px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 100%;
    padding: 1%;
    background-color: #283618;
}

ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height:600px;
    padding: 25px;
}



.content {
    width:500px;
    margin: 0 auto;
}

footer {
    background-color: #283618;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}